.dropdown-menu-wrapper {
    position: relative;
    display:flex;
    justify-content: center;
  }
  
  .dropdown-button {
    padding: 15px 30px;
    background-color:transparent;
    color: #fff;
    border: white;
    cursor: pointer;
    transition: transform 0.3 ease;
    border-radius: 50%;
    
  }

  .hamburger {
    font-size: 20px;
  }

  .dropdown-button.open {
    transform: rotate(90deg);
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 200px;
    padding: 10px;
    background-color: #f9f9f9;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: center;
    transform: translateX(-50%);
  }
  
  .dropdown-item {
    padding: 8px 12px;
    color: black;
    cursor: pointer;
  }

  
  .dropdown-item:hover {
    background-color: aquamarine;
  }
  
  .dropdown-navigation:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu.bottom {
    top: auto;
    bottom: 100%;
  }

  a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }
  
 
  

  