.Header {
    text-align: center;
    background: rgb(71, 82, 120);
    color: whitesmoke;
    width: 100%;
    padding-bottom: 2%;
    
  }

.Header__Title {
    font-size: 52px;
    font-family: "copperplate";
    color: whitesmoke;
}

.Header__SubTitle {
    font-size: 44px;
    font-family: "copperplate";
    color: aquamarine;
    font-weight: bold;
}

